{% extends "base.html" %}

{% block title %}
    Nossa Frota de Veículos
{% endblock %}

{% block content %}

    <section class="destaques">
        <h2>Nossa Frota Completa</h2>

        <div class="lista-carros" style="margin-top: 30px;">

            {% for carro in veiculos %}

                <div class="carro-card">

                    {% if carro.foto_url %}
                        <img src="{{ url_for('static', filename='img/' + carro.foto_url) }}" alt="{{ carro.nome }}">
                    {% else %}
                        <div class="carro-placeholder-img"></div>
                    {% endif %}

                    <h3>{{ carro.nome }}</h3>
                    <p>{{ carro.descricao }} (Ano: {{ carro.ano }})</p>

                    <span class="preco">R$ {{ "%.2f"|format(carro.preco_diaria) }} /dia</span>
                    <a href="{{ url_for('pagina_detalhe_veiculo', carro_id=carro.id) }}" class="btn-alugar">Ver Detalhes</a>
                </div>

            {% else %}
                <p>Nenhum veículo cadastrado no momento. Volte em breve!</p>

            {% endfor %}

        </div>
    </section>

{% endblock %}